*.env
.pre-commit-config.yaml
*.xlsx
.idea
allure-results
__pycache__
out
*.sql
*.gitignore
logging_dir
screenshots
www
.venv
venv_bac
.python-version
celerybeat-schedule
mcp.json
venv
*.docx
.dockerignore

